

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 80vh;
    margin-bottom: 5rem;
    background: var(--color-btn);
    color: var(--color-white);
}

.head {
    margin-top: 5rem;
    display: block;
    position: relative;
    text-align: center;
    text-decoration:solid underline;
}

.head h1{
    font-size: 3rem;
    margin: 2rem auto;
    display: block;
    position: relative;
    text-align: center;
    text-decoration:solid underline;
}

.about__container {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about {
    /* display: ; */
    height: auto;
    background: rgba(0, 0, 0, 0.174);
    padding: 1rem;
    border-radius: 10px;
}

.about h1{
    display: block;
    position: relative;
    text-align: center;
}
.about p{
    display: block;
    position: relative;
    justify-content: center;
}


.about {
    transform: scale(0.9);
    transition: 1s;
    cursor: default;

}
.about:hover {
    box-shadow: 0 3rem 6rem rgb(0,0,0);
    background:  rgba(255, 255, 255, 0.797);
    transform: scale(1);

}


/* ============== TABLET ============== */
@media screen and (max-width: 1024px) {

    .container{
        width: var(--container-width-md);
    }

    header {
        position: relative;
        top: 5rem;
        overflow: hidden;
        height: 80vh;
        margin-bottom: 5rem;
        background: var(--color-btn);
        color: var(--color-white);
    }


    h1{
        font-size: 2rem;
    }

    .about {
        height: auto;
        background: rgba(0, 0, 0, 0.174);
        padding: 1rem;
        border-radius: 10px;
    }
}

/* ============== MOBILE DEVICES ============= */
@media screen and (max-width: 680px) {

    .container{
        width: var(--container-width-sm);
    }

    .about__container {
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    header {
        position: relative;
        top: 5rem;
        overflow: hidden;
        height: 85vh;
        margin-bottom: 5rem;
        background: var(--color-btn);
        color: var(--color-white);
    }


    h1{
        font-size: 2rem;
    }
    about {
        /* display: ; */
        height: auto;
        background: rgba(0, 0, 0, 0.174);
        padding: 1rem;
        border-radius: 10px;
    }
}